USE [master]
GO
/****** Object:  Database [TranVanQuyet_MarsStoreQLBLaptop_K15]    Script Date: 6/19/2016 10:52:37 AM ******/
CREATE DATABASE [TranVanQuyet_MarsStoreQLBLaptop_K15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TranVanQuyet_MarsStoreQLBLaptop_K15', FILENAME = N'E:\WORK 2016\MVC\MarsStore\TranVanQuyet_MarsStoreQLBLaptop_K15.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TranVanQuyet_MarsStoreQLBLaptop_K15_log', FILENAME = N'E:\WORK 2016\MVC\MarsStore\TranVanQuyet_MarsStoreQLBLaptop_K15_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TranVanQuyet_MarsStoreQLBLaptop_K15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TranVanQuyet_MarsStoreQLBLaptop_K15]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[ID_BL] [int] IDENTITY(1,1) NOT NULL,
	[ID_SP] [int] NOT NULL,
	[ID_TK] [int] NOT NULL,
	[ngaybinhluan] [date] NOT NULL,
	[noidung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[ID_BL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDONHANG]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONHANG](
	[ID_CTDH] [int] IDENTITY(1,1) NOT NULL,
	[ID_DH] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[dongia] [int] NOT NULL,
 CONSTRAINT [PK_CTDONHANG] PRIMARY KEY CLUSTERED 
(
	[ID_CTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[ID_DM] [int] IDENTITY(1,1) NOT NULL,
	[tendanhmuc] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[ID_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[ID_DH] [int] IDENTITY(1,1) NOT NULL,
	[ID_TK] [int] NULL,
	[ID_TIN] [int] NULL,
	[ngaylap] [date] NOT NULL,
	[ngaynhanhang] [date] NOT NULL,
	[diachigiaohang] [nvarchar](200) NULL,
	[phone] [char](16) NULL,
	[trangthai] [bit] NULL,
	[hotenkh] [nvarchar](250) NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[ID_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOANGGIA]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOANGGIA](
	[IDKG] [int] IDENTITY(1,1) NOT NULL,
	[cantren] [int] NOT NULL,
	[canduoi] [int] NOT NULL,
 CONSTRAINT [PK_KHOANGGIA] PRIMARY KEY CLUSTERED 
(
	[IDKG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMTIN]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMTIN](
	[ID_NHOM] [int] IDENTITY(1,1) NOT NULL,
	[tennhomtin] [nvarchar](250) NULL,
 CONSTRAINT [PK_NHOMTIN] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[TENQUYEN] [varchar](50) NOT NULL,
	[ID_TK] [int] NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_QUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [varchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC,
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[ID_DM] [int] NOT NULL,
	[tensanpham] [nvarchar](max) NOT NULL,
	[giabd] [int] NOT NULL,
	[trongluong] [varchar](250) NOT NULL,
	[mausac] [nvarchar](30) NOT NULL,
	[ImgLink] [nvarchar](250) NOT NULL,
	[memory] [varchar](250) NOT NULL,
	[hedieuhanh] [varchar](250) NOT NULL,
	[vga] [nvarchar](100) NOT NULL,
	[cpuz] [varchar](250) NOT NULL,
	[battery] [varchar](250) NOT NULL,
	[phukiendikem] [nvarchar](100) NULL,
	[chedobaohanh] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPGIAMGIA]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPGIAMGIA](
	[ID_KM] [int] IDENTITY(1,1) NOT NULL,
	[ID_SP] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[giaht] [int] NOT NULL,
	[ngayban] [date] NOT NULL,
 CONSTRAINT [PK_SPGIAMGIA] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_TK] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[tentk] [nvarchar](50) NOT NULL,
	[phone] [char](16) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[diachi] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 6/19/2016 10:52:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[ID_TIN] [int] IDENTITY(1,1) NOT NULL,
	[ID_NHOM] [int] NULL,
	[tentin] [nvarchar](250) NOT NULL,
	[ImgTin] [nvarchar](250) NOT NULL,
	[mota] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[ID_TIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BINHLUAN] ON 

INSERT [dbo].[BINHLUAN] ([ID_BL], [ID_SP], [ID_TK], [ngaybinhluan], [noidung]) VALUES (23, 70, 3, CAST(0xFE3A0B00 AS Date), N'TEST Nội dung BL')
INSERT [dbo].[BINHLUAN] ([ID_BL], [ID_SP], [ID_TK], [ngaybinhluan], [noidung]) VALUES (24, 1, 3, CAST(0x553B0B00 AS Date), N'TESTTESTTESTTESTTESTTEST')
INSERT [dbo].[BINHLUAN] ([ID_BL], [ID_SP], [ID_TK], [ngaybinhluan], [noidung]) VALUES (30, 3, 2, CAST(0x573B0B00 AS Date), N'TESTTESTTESTTESTTESTTEST')
SET IDENTITY_INSERT [dbo].[BINHLUAN] OFF
SET IDENTITY_INSERT [dbo].[CTDONHANG] ON 

INSERT [dbo].[CTDONHANG] ([ID_CTDH], [ID_DH], [ID_SP], [soluong], [dongia]) VALUES (2106, 2088, 21, 1, 47000000)
INSERT [dbo].[CTDONHANG] ([ID_CTDH], [ID_DH], [ID_SP], [soluong], [dongia]) VALUES (2112, 2092, 1, 1, 40000000)
INSERT [dbo].[CTDONHANG] ([ID_CTDH], [ID_DH], [ID_SP], [soluong], [dongia]) VALUES (2113, 2092, 3, 1, 47000000)
SET IDENTITY_INSERT [dbo].[CTDONHANG] OFF
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([ID_DM], [tendanhmuc]) VALUES (1, N'Alienware')
INSERT [dbo].[DANHMUC] ([ID_DM], [tendanhmuc]) VALUES (2, N'MSI Gaming')
INSERT [dbo].[DANHMUC] ([ID_DM], [tendanhmuc]) VALUES (3, N'MSI Workstation')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([ID_DH], [ID_TK], [ID_TIN], [ngaylap], [ngaynhanhang], [diachigiaohang], [phone], [trangthai], [hotenkh]) VALUES (2088, NULL, NULL, CAST(0x853B0B00 AS Date), CAST(0x853B0B00 AS Date), N'250 Trần Cung, Cổ Nhuế, Hà Nội', N'q43543545       ', NULL, N'Nguyễn Văn Nam')
INSERT [dbo].[DONHANG] ([ID_DH], [ID_TK], [ID_TIN], [ngaylap], [ngaynhanhang], [diachigiaohang], [phone], [trangthai], [hotenkh]) VALUES (2092, NULL, NULL, CAST(0x853B0B00 AS Date), CAST(0x853B0B00 AS Date), N'Số 6, Ngõ 56 Phố Pháo Đài Láng, Đống Đa, Hà Nội', N'0943103168      ', 1, N'Trần Văn Quyết')
INSERT [dbo].[DONHANG] ([ID_DH], [ID_TK], [ID_TIN], [ngaylap], [ngaynhanhang], [diachigiaohang], [phone], [trangthai], [hotenkh]) VALUES (2093, NULL, NULL, CAST(0x853B0B00 AS Date), CAST(0x903B0B00 AS Date), N'Số 6, Ngõ 56 Phố Pháo Đài Láng, Đống Đa, Hà Nội', N'0943103168      ', NULL, N'Trần Văn Quyết')
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
SET IDENTITY_INSERT [dbo].[KHOANGGIA] ON 

INSERT [dbo].[KHOANGGIA] ([IDKG], [cantren], [canduoi]) VALUES (1, 10000000, 5000000)
INSERT [dbo].[KHOANGGIA] ([IDKG], [cantren], [canduoi]) VALUES (2, 15000000, 10000000)
INSERT [dbo].[KHOANGGIA] ([IDKG], [cantren], [canduoi]) VALUES (3, 20000000, 15000000)
SET IDENTITY_INSERT [dbo].[KHOANGGIA] OFF
SET IDENTITY_INSERT [dbo].[NHOMTIN] ON 

INSERT [dbo].[NHOMTIN] ([ID_NHOM], [tennhomtin]) VALUES (1, N'TIN KHUYẾN MẠI')
INSERT [dbo].[NHOMTIN] ([ID_NHOM], [tennhomtin]) VALUES (2, N'TIN CÔNG NGHỆ')
INSERT [dbo].[NHOMTIN] ([ID_NHOM], [tennhomtin]) VALUES (3, N'HƯỚNG DẪN KHÁCH HÀNG')
SET IDENTITY_INSERT [dbo].[NHOMTIN] OFF
INSERT [dbo].[PHANQUYEN] ([TENQUYEN], [ID_TK]) VALUES (N'Admin', 2)
INSERT [dbo].[PHANQUYEN] ([TENQUYEN], [ID_TK]) VALUES (N'NguoiDung', 3)
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (4, N'Admin')
INSERT [dbo].[QUYEN] ([ID_QUYEN], [TENQUYEN]) VALUES (5, N'NguoiDung')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [tensanpham], [giabd], [trongluong], [mausac], [ImgLink], [memory], [hedieuhanh], [vga], [cpuz], [battery], [phukiendikem], [chedobaohanh]) VALUES (1, 1, N'Alienware 17 Gaming CPU Skylake', 40000000, N'3.78', N'Đen Bạc', N'ali1.JPG', N'8GB DDR4 2133Mhz (4G * 2) ', N'Windows 10 Pro 64 Bit', N'NVIDIA® GeForce GTX970M 3GB GDDR5 ', N'Skylake i7-6700HQ (6MB Cache, up to 3.5GHz w/ Turbo Boost) ', N'	
8 Cell lithium (92Wh)', N'AC Adapter', N'12 tháng')
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [tensanpham], [giabd], [trongluong], [mausac], [ImgLink], [memory], [hedieuhanh], [vga], [cpuz], [battery], [phukiendikem], [chedobaohanh]) VALUES (3, 1, N'Alienware 15A2 Gaming CPU Skylake', 47000000, N'3.2', N'Đen', N'ali2.JPG', N'8GB DDR4 2133Mhz (4G *2) ', N'Window 10 Pro 64 Bit', N'NVIDIA® GeForce GTX980M 4GB GDDR5 ', N'Skylake i7-6700HQ (6MB Cache, up to 3.5GHz w/ Turbo Boost) ', N'	
8 Cell lithium (92Wh)', N'AC Adapter, CD', N'12 tháng')
INSERT [dbo].[SANPHAM] ([ID_SP], [ID_DM], [tensanpham], [giabd], [trongluong], [mausac], [ImgLink], [memory], [hedieuhanh], [vga], [cpuz], [battery], [phukiendikem], [chedobaohanh]) VALUES (8, 1, N'Alienware 15CB Gaming CPU Skylake', 36000000, N'3.5', N'Đen', N'ali3.jpg', N'8GB DDR4 2133Mhz (4G * 2) ', N'Windows 10 Pro 64 Bit', N'NVIDIA® GeForce GTX965M 2GB GDDR5', N'Skylake i7-6700HQ (6MB Cache, up to 3.5GHz w/ Turbo Boost)', N'8 Cell lithium (92Wh)', N'AC Adapter', N'12 tháng')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SPGIAMGIA] ON 

INSERT [dbo].[SPGIAMGIA] ([ID_KM], [ID_SP], [soluong], [giaht], [ngayban]) VALUES (1, 23, 12, 50000000, CAST(0x363B0B00 AS Date))
INSERT [dbo].[SPGIAMGIA] ([ID_KM], [ID_SP], [soluong], [giaht], [ngayban]) VALUES (2, 26, 1, 15000000, CAST(0x363B0B00 AS Date))
INSERT [dbo].[SPGIAMGIA] ([ID_KM], [ID_SP], [soluong], [giaht], [ngayban]) VALUES (3, 27, 13, 12000000, CAST(0x363B0B00 AS Date))
SET IDENTITY_INSERT [dbo].[SPGIAMGIA] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID_TK], [username], [password], [tentk], [phone], [mail], [diachi]) VALUES (2, N'Admin', N'admin', N'Trần Văn Quyết', N'0943103168      ', N'trandirector.ctv@gmail.com', N'Hà Nội')
INSERT [dbo].[TAIKHOAN] ([ID_TK], [username], [password], [tentk], [phone], [mail], [diachi]) VALUES (3, N'nguyenhien279', N'123', N'Nguyễn Thị Hiền', N'0962380564      ', N'nguyenhien279.mta@gmail.com', N'Hà Nội')
INSERT [dbo].[TAIKHOAN] ([ID_TK], [username], [password], [tentk], [phone], [mail], [diachi]) VALUES (4, N'thanhhang', N'123', N'Nông Thị Hằng', N'0121001002      ', N'regeditmail@gmail.com', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([ID_TIN], [ID_NHOM], [tentin], [ImgTin], [mota]) VALUES (19, 1, N'Khuyến Mại 1', N'imgtin1.jpg', N'Khuyến mại 1')
INSERT [dbo].[TINTUC] ([ID_TIN], [ID_NHOM], [tentin], [ImgTin], [mota]) VALUES (20, 2, N'Khuyến Mại 1', N'imgtin1.jpg', N'Khuyến mại 1')
INSERT [dbo].[TINTUC] ([ID_TIN], [ID_NHOM], [tentin], [ImgTin], [mota]) VALUES (21, 3, N'Khuyến Mại 1', N'imgtin1.jpg', N'Khuyến mại 1')
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_SANPHAM]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_TAIKHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_DONHANG] FOREIGN KEY([ID_DH])
REFERENCES [dbo].[DONHANG] ([ID_DH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_TINTUC] FOREIGN KEY([ID_TIN])
REFERENCES [dbo].[TINTUC] ([ID_TIN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_TINTUC]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_TAIKHOAN] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAIKHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN_PHANQUYEN] FOREIGN KEY([TENQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([TENQUYEN])
GO
ALTER TABLE [dbo].[QUYEN] CHECK CONSTRAINT [FK_QUYEN_PHANQUYEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUC] FOREIGN KEY([ID_DM])
REFERENCES [dbo].[DANHMUC] ([ID_DM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DANHMUC]
GO
ALTER TABLE [dbo].[SPGIAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_SPGIAMGIA_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[SPGIAMGIA] CHECK CONSTRAINT [FK_SPGIAMGIA_SANPHAM]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_NHOMTIN] FOREIGN KEY([ID_NHOM])
REFERENCES [dbo].[NHOMTIN] ([ID_NHOM])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_NHOMTIN]
GO
USE [master]
GO
